<% if user_signed_in? %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
            <h1><span class="tag tag-pill tag-success">Welcome Back <%= current_user.username %>!</span></h1>
    </div>
</div>
<% else %>
    <div class="jumbotron jumbotron-home">
        <div class="container">
                <h1>Welcome to my #myplace!</h1>
                <p>This is #myplace</p>
                <%= link_to "# Blog »", posts_path, class: "btn btn-danger btn-lg" %> 
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2></h2>
                <p><%= link_to "Stay Tuned", "#", class: "btn btn-success" %></p>
            </div>
            <div class="col-md-4">
                <h2></h2>
                <p><%= link_to "More to Come", "#", class: "btn btn-success" %></p>
            </div>
            <div class="col-md-4">
                <h2></h2>
                <p><%= link_to "Thank you!", "#", class: "btn btn-success" %></p>
            </div>
        </div>
    </div>
<% end -%>
